.center{
    text-align:center;
    margin: -48% 0px -14px 20px;
    font-size: 24px;
    color: #232323;
    font-weight: 400;
}

form button{
    background-color: #C40000;
    color:white;
    width:150px;
    height:40px;
    font-size:15px;
   
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
