
  form button{
    background-color: #C40000;
    color:white;
    width:200px;
    height:50px;
    font-size:15px;
    margin-top: 5%;
    margin-left: 20%;
}

.center{
  margin: 50px 0px -14px 10px;
  font-size: 24px;
  color: #232323;
  font-weight: 440;
 
}

form{
  margin-top: 6%;
}
form input{
  font:  .875em/1.25em "Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  width: 350px;
  height: 35px;
  margin-top: 5%;
  }
form div input{
  width: 100%;
}
.bus{
      margin-left:90px;
      width: 250px;
      max-width:270px;
      height: auto;
    
}





