.background1 {
    height: 70px;
    background-image: url("../mahesh1.jpg");
    background-repeat: no-repeat;
    background-size: 86% 100%;
    margin-left: 11%;
    font-size:1vw;
  }
  #demo{
      padding-left: 20%;
      font-weight: 500;
      padding-top: 2%;  

  }
  .abhibus-info {
    width: 75%;
    margin-left: 11%;
    background: #f7f7f7;
    border: solid 1px #e2e2e2;
    padding: 5px;
}

.abhibus-info .titles {
    overflow: hidden;
    background: url(//static.abhibus.com/img/seo/bg-abhibus-info.png) no-repeat;
   
}

.abhibus-info .titles .col1 {
    float: left;
    width: 202px;
    margin-left: 60px;
    padding-top: 20px;
    border-right: solid 1px #dfdfdf;
}

.abhibus-info .titles .col2 {
    float: left;
    width: 202px;
    margin-left: 170px;
    padding-top: 20px;
    border-right: solid 1px #dfdfdf;
}

.abhibus-info .titles .col3 {
    float: left;
    width: 180px;
    margin-left: 128px;
    padding-top: 20px;
}
.abhibus-info p {
    font-weight: 100;
    color: #666;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.abhibus-info h3 {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    color: #6e6e6e;
    font-weight: 200px;
    padding-left: 20px;
    padding-top: 10px;
}
  
hr{
    border: dotted 2px;
    color:#6e6e6e;
    
}
.social-links a{
    


	border: 1px  #909090;
	margin-right: 7px;
 /*space between*/

} 
.social-links a i{
	
    
	color: #909090;
}