.background {
  height: 800px;
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
  margin-top:-3.5%;
  width:"auto";
}
.bgimg {
  height: 800px;
  background-image: url("../jannn.png");
  background-repeat: no-repeat;
  
  margin-top:-3.5%;
}
.navbar {
  overflow: hidden;
  background-color: #efefef;
}

.navbar a {
  float: right;
  font-size: 13px;
  color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 

}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 13px;  
  border: none;
  outline: none;
  color: #444;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #444;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active{
  background-color:#ddd;
}

.topnav-left{
  float: left;
  position: absolute;
  top:4%;
  left: 10%;
  transform: translate(-20%, -60%);
}

.img1 {
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  
 
}
