.head1 .navbar {
    color: #FFFFFF;
    background-color:#ee6e73;
    padding : 0px 0px;
    overflow : hidden;
}
.head .nav-link {
    color:white;
}

.head .nav-link {
    font-size:20px;
}  
.head .nav-link:hover {
    color: white;
    background-color:rgb(212, 113, 113);
    
}
.head .active {
    background-color:rgb(212, 113, 113);
}

.head .navbar-brand  {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    font-size:25px;
    color:white;
    font-weight:bold;
    padding : 0px 0px;
}
.head .navbar-brand:hover{
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    color:white;
    font-weight:bold;
}

.main {
    background-image: url(https://images.template.net/wp-content/uploads/2015/11/25190558/Plain-Dark-Blue-Background-Images-Download.jpg);
    height:150px;

}

.row {
    margin-top:55px;
}

p {
    text-align: center;
    color:white;
    font-size :40px;
    margin-top:10px;
}

.body .active{
    background-color:#26a69a;
    
}

.body .nav-link {
    color:#187a71;
}

.body .nav-link:hover {
    background-color:rgb(242, 243, 244)
}

.table {
    border-bottom: 1px solid gray ;
    margn-left:20px;

}
.th {
    border-right: 1px solid gray;

}
.body  {
    margin-left: 20px;
    margin-top: -50px;
    border:1px;
}

.news {
    float:right;
    margin-top:-190px;
    margin-left:220px;
}

.news a{
    color:#187a71;
}
.article  {
    border:1px solid black;
    background-color:rgb(242, 243, 244);
    font-size:20px;
    height:90px;
    text-align:justify;
    overflow:hidden;
}
.newsLogo {
    height:40px;
    width:30px;
    float:left;
    margin-top: 18px;
}



