  
.form{
  margin-left: 30%;
  margin-top: 10%;
  padding: 50px;
  width: 450px;
  height: 300px; 
  background-color:rgba(0,0,0,0.7);
  border-radius: 15px;

}
label{ 
  font-size: 20px;
  color: white;
}
 input{ 
  outline: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px; 
}
 #email{
  margin-left: 30px;
 }
 .logo{
   width: 220px;
   height: 50px;
   margin-right: 200px;
 } 
  .nav-item{
   margin-left: 20px;
   margin-right: 20px;
  
 
  }
.navbar {
  background-color: #ee6e73;
}
.nav-item a{
  font: 500;
  font-size: 19px;
  color: white;
 }
  
  .card{
    margin : 2px; 
    background-image: url("https://aidforcancer.com/static/media/information-blurred.88c33272.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-body h1{
    text-align: center;
    font-weight: 400;
     color: white; 
  
    }
    .navbar-toggler-icon{
     color: black;
     border: 1px solid;
    }



  .page-desc-text{
    margin: 20px;
    font-size: 18px;
    color: white;
  } 
   .newsmenu{
     margin: 5px 0px;
   }
  .collection-item{
    width: 220px;
    padding: 5px  ;
    font: 400;
    float: left;
    text-align: center;
    font-size: 20px;
    border: 1px solid;
  }
  .collection-item:hover{
    text-decoration: none;
    text-decoration-style: none;
     color: white;
     background-color: #ee6e73;
  } 
  .newsterm{
    float: left; 
    font-size: 30px;
    font-weight: 600;
  }
 .showall{
   margin-left: 45vw;
   font-size: 20px;
   font-weight: 400;
   
 }
 .showdiv{
   margin-top: 10px;
   height: 45px;
   border-bottom: 1px solid;
 }
 .active{
   background-color: #ee6e73;
 }