th, td{
    padding: 6px;
}
tr:hover {background-color:darkseagreen;color:white}
tr:nth-child(even){background-color: #c1dbd4}
tr:nth-child(even):hover{background-color:darkseagreen;color:white};


th {
  background-color: #4CAF50;
  color: white;
} 