
.wrap {
    width: 960px;
    margin: 0 auto;
}
.mainfooter {
    background-color: #EBEBEB;
    
  
}
.mainfooter .col1 {
    width: 250px;
    font-size: 1em;
    line-height: 1.4;
}
.mainfooter h3 {
    color: #929292;
    font-size: 12px;
    font-weight: 700;
}
.col1, .col2, .col3 {
    float: left;
}
.mainfooter .col2 {
    width: 250px;
    margin-top: 40px;
    font-size: 1em;
    line-height: 1.4;
}
.mainfooter .col3 {
    width: 460px;
    font-size: 1em;
    line-height: 1.4;
}
.mainfooter a {
font-size: 12px;
    color: #7A7A7A;
    line-height: 1.5em;
    font-weight: 400;
    -o-transition: color .5s ease-out, color .5s ease-in;
    -webkit-transition: color .5s ease-out, color .5s ease-in;
    -moz-transition: color .5s ease-out, color .5s ease-in;
    transition: color .5s ease-out, color .5s ease-in;
}
.company {
    float: left;
    line-height: 45px;
    width: 715px;
}
footer .links {
    float: right;
    margin-left: 5px;
    line-height: 45px;
}
.ico.logosmall {
    background-position: -30px 8px;
    width: 35px;
    height: 48px;
}
.company a {
    color: #676767;
    font-size: 12px;
    padding: 0 1px;
    font-weight: 400;
}
.ico, .advantage .pagenum {
    background-image: url(//static.abhibus.com/img/sprites-final1.png);
    background-repeat: no-repeat;
}
.ico {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 17px;
}
footer .links a {
    color: #676767;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    margin-top:90%;
}
.copyright {
    height: 40px;
    padding-bottom: 20px;
}
.copyright .copy {
    float: left;
    width: 367px;
}
.copyright .bank {
    float: left;
    width: 180px;
    margin-top: 20px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    text-align: center;
    background: url(//static.abhibus.com/img/sprites-final1.png);
    background-position: -503px -63px;
    display: block;
    height: 28px;
}
.copyright .wrap .privacy {
    float: right;
    text-align: right;
    width: 500px;
}


.ico.paygateway {
    background-position: -234px -55px;
    width: 160px;
    height: 37px;
}

.copyright .copy p {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
